body {
    background-color: Gray;
}

h1 {
    margin-bottom: -10px;
}

p {
    margin-bottom: 10px;
}

#header {
    color: white;
    text-align: center;
}

#out {
    background-color: Black;
    float: right;
    width: calc(60% - 3px);
    height: 850px;
    border: 2px solid;
    border-left: 1px solid;
}

#in {
    background-color: Black;
    float: left;
    width: calc(40% - 3px);
    height: 850px;
    border: 2px solid;
    border-right: 1px solid
}

#infoheader {
    background-color: #E3DAC9;
    text-align: center;
    height: 38px;
    line-height: 38px;
    border-bottom: 2px solid;
}

#efficiencies {
    float: left;
    height: 404px;
    background-color: #E3DAC9;
    width: calc(50% - 1px);
    border-bottom: 1px solid;
    border-right: 1px solid;
    overflow-y: auto;
}

#generaldata {
    float: right;
    height: 404px;
    background-color: #E3DAC9;
    width: calc(50% - 6px);
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding-left: 5px;
}

#piechartdiv {
    float: left;
    height: 404px;
    background-color: #E3DAC9;
    width: calc(50% - 1px);
    border-right: 1px solid;
    border-top: 1px solid;
}

#herodata {
    float: right;
    height: 404px;
    background-color: #E3DAC9;
    width: calc(50% - 1px);
    border-left: 1px solid;
    border-top: 1px solid;
    overflow-y: auto;
}

#heroTableOut {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

#heroTableOut tr, #heroTableOut td, #heroTableOut th {
    border: 1px solid;
}

#efficiencyTableOut {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

#efficiencyTableOut tr, #efficiencyTableOut td, #efficiencyTableOut th {
    border: 1px solid;
}

#savediv {
    background-color: #E3DAC9;
    height: 38px;
    line-height: 38px;
    border-bottom: 2px solid;
    padding-left: 5px;
}

#options {
    float: left;
    height: 148px;
    background-color: #E3DAC9;
    width: calc(75% - 6px);
    border-bottom: 2px solid;
    border-right: 1px solid;
    padding-left: 5px;
}

#buttons {
    float: right;
    height: 148px;
    background-color: #E3DAC9;
    width: calc(25% - 6px);
    border-bottom: 2px solid;
    border-left: 1px solid;
    padding-left: 5px;
}

#navbar {
    height: 38px;
    background-color: #E3DAC9;
    width: 100%;
    float: left;
    border-bottom: 2px solid;
    line-height: 38px;
}

#heronavinput, #ancientnavinput, #achievnavinput, #faqnavinput {
    background-color: #E3DAC9;
    height: 620px;
    width: 100%;
    float: left;
    overflow-y: auto;
}

#heroTable table {
    border-collapse: collapse;
    border-style: hidden;
    border-right: 1px;
    width: 100%
}

#heroTable th, #heroTable td {
    align-content: center;
    border: 1px solid black;
    width: 25%;
}

#ancientTable table {
    border-collapse: collapse;
    border-style: hidden;
    border-right: 1px;
    width: 100%
}

#ancientTable th, #ancientTable td {
    align-content: center;
    border: 1px solid black;
    width: 25%;
}

#ancientTable img {
    width: 50%;
    height: 50%;
}

.centerdiv {
    position: absolute;
    width: 650px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -250px;
    overflow-y: auto;
}

.link {
    text-decoration: none;
    color: black;
}

#achievTable table {
    border-collapse: collapse;
    border-style: hidden;
    border-right: 1px;
    width: 100%
}

#achievTable th, #achievTable td {
    border: 1px solid black;
}

#popupdiv {
    background-color: #E3DAC9;
    border: 5px double black;
    display: none;
    z-index: 100;
}